:root {
  --main-color: #285e67;
  --sacnd-color: #fce2d7;
  --thired-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

header {
  position: sticky;
  background: #fff;
  top: 0;
  inset: 0;
  box-shadow: 0 0 10px 1px #eee;
  padding: 10px 0;
  nav,
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li a {
    display: block;
    padding: 10px 20px;
    margin: 1px;
    color: #222;
    font-weight: bold;
    transition: 0.5s;
  }
  li a:hover {
    color: var(--main-color);
  }
  h1 a {
    color: var(--main-color);
  }
}

.hero-Section {
  text-align: center;
  .info {
    margin: 60px 0;
    h5 {
      font-family: Poppins;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 65.34px;
      line-height: 82px;
      letter-spacing: 0px;
      text-align: center;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
    }

    a {
      display: inline-block;
      background: var(--main-color);
      color: #fff;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 10px;
      margin-top: 20px;
    }
  }
  .box .card {
    width: 49%;
    overflow: hidden;
    img {
      width: 100%;
      height: 450px;
      object-fit: fill;
      border-radius: 10px;
    }
  }
}

.Wellbeing {
  background: var(--thired-color);
  margin-top: 20px;
  padding: 20px 0 0 0;
  .box {
    .card {
      width: 49%;
      margin-top: 20px;
    }
    .w-60 {
      width: 59%;
    }
    .w-40 {
      width: 40%;
      text-align: right;
      /* margin-right: auto; */
    }
  }
  h5 {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 50.52px;
    line-height: 62px;
    letter-spacing: 0px;
  }

  .icon {
    margin: 30px 0;

    i {
      background: var(--main-color);
      color: #fff;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 3;
      text-align: center;
      border-radius: 50%;
      font-size: 18px;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
    }
  }
}

@media (max-width: 768px) {
  .box .card {
    width: 100% !important;
  }

  .Wellbeing .w-40 {
    display: none;
  }
  .Wellbeing .w-60 {
    width: 100% !important;
  }
  .Wellbeing {
    h5 {
      font-size: 30px;
      text-align: center;
    }
  }
}

.Fresh-organic {
  margin: 100px 0;
  .box {
    .card {
      width: 49%;
    }
    .card .img-card {
      overflow: hidden;
      img {
        height: 500px;
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
      }
    }
    ul {
      margin-top: 20px;
      li {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
      }
    }
  }
  .title-Card {
    h3 {
      font-family: Poppins;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 50.52px;
      line-height: 62px;
      letter-spacing: 0px;
      margin-bottom: 30px;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .card .img-card img {
    height: 300px;
  }
}

.what-you {
  background: #f4f4f4;
  margin: 100px 0;
  padding: 100px 0;
  h3 {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 50.52px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 20px;
  }
  .img {
    width: 349px;
    img {
      width: 100%;
    }
  }
  .text {
    width: calc(99% - 349px);
    text-align: left;
    .card {
      width: 30%;
      .icon {
        width: 50px;
        height: 50px;
        line-height: 3;
        text-align: center;
        border-radius: 10px;
        background: #ebbfae;
        margin-bottom: 30px;
        margin-top: 30px;
        i {
          font-size: 18px;
          margin-top: 15px;
        }
      }
    }
  }
}

.text .box {
  justify-content: right !important;
}
